    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Project Manager", root_path, class: 'navbar-brand' %>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
            <li><%= button_to(new_member_path,
                        method: :get,
                        class: 'btn btn-primary navbar-btn') do %>
              <i class="fa fa-user"></i> Invite Members
            <% end %></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li>
                <%= button_to( edit_registration_path(current_user),
                        method: :get,
                        class: 'btn navbar-btn') do %>
                  <i class="fa fa-user"></i>
                  <%= current_user.email %>
                <% end %>
              </li>
              <li><%= button_to('Log out', destroy_user_session_path, method: :delete, class: 'btn btn-danger navbar-btn') %></li>
            <% else %>
              <li><%= button_to('Sign in', new_user_session_path, method: :get, class: 'btn btn-success navbar-btn') %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>